<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body onload="startGame()">

<h1> RLbike visualizer </h1>

<script>

function startGame() {
    myGameArea.start();
    requestLoop()
}

var myGameArea = {
    canvas : document.createElement("canvas"),
    start : function() {
        this.canvas.width = 480;
        this.canvas.height = 270;
        this.canvas.style.left = "200px";
        this.canvas.style.top = "200px";
        this.canvas.style.position = "absolute";
        this.context = this.canvas.getContext("2d");
        document.body.insertBefore(this.canvas, document.body.childNodes[0]);
    }
}

function requestLoop() {
    setInterval(function () {
        require('http').request({
            url: "http://127.0.0.1:5000/",
            method: "GET",
            timeout: 10000,
            followRedirect: true,
            maxRedirects: 10
        }, function (error, response, body) {
            if (!error && response.statusCode == 200) {
                console.log('success!!');
            } else {
                console.log('error' + response.statusCode);
            }
        });
    }, 1000);
}
</script>

</body>
</html>